.disabled-row {
    opacity: 0.5;
}

.disabled-row input[type=numeric]{
    pointer-events: none;
}


/* General styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Dropdown and Button Styling */
select, button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
